html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}

* {
  box-sizing: inherit;
}

.h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  background-color: #f6f9ff;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 3em;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, sans-serif;
  padding: 40px;
  text-align: center;
  background-image: url("../images/about.png");
  background-size: cover;
  color: #f3efef;
  font-weight: 500;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
