.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  background-image: url("../images/Makeup\ Model\ GIF\ by\ Vasanti\ Cosmetics.gif");
}

.reservation__title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  background-color: #f6f9ff;
  background-image: url("../images/female-model-with-flowers-her-face.jpg");
  background-position: 5% 20%;
}

.form {
  max-width: 385px;
  background-color: transparent;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #0c070a98;
}

.form__checkbox {
  border-radius: 2px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  width: 20px;
}

.form__label_type_checkbox {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__input {
  border: 1px solid #838383;
  display: block;
  width: 100%;
  height: 60px;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-left: 20px;
}

.form__button {
  border: 2px solid rosybrown;
  width: 100%;
  height: 60px;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: rosybrown;
  color: #ffffff;
}

.form__button:hover {
  background-color: brown;
  cursor: pointer;
}
