html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
}

* {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: rosybrown;
  font-size: 10em;
  transition: all 1s ease-in-out;
}

.container:hover {
  font-size: 20em;
  color: rosybrown;
}

.photo {
  background-image: url("../images/pexels-alexandra-maria-58259-318236.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* button */

.button {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
  opacity: 0;
  animation: fadeInUp 1.5s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
